{
  "projectId": "REDACTED",
  "appId": "REDACTED",
  "apiKey": "REDACTED",
  "authDomain": "REDACTED.firebaseapp.com",
  "storageBucket": "REDACTED.firebasestorage.app",
  "messagingSenderId": "REDACTED",
  "measurementId": "REDACTED"
}